<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangxin.dao.CustomerInfoMapper" >
  <resultMap id="CustomerInfo" type="com.shangxin.bean.CustomerInfo" >
    <id column="customerId" property="customerid" jdbcType="VARCHAR" />
    <result column="customerName" property="customername" jdbcType="VARCHAR" />
    <result column="lastConsumption" property="lastconsumption" jdbcType="REAL" />
    <result column="consumption" property="consumption" jdbcType="REAL" />
    <result column="customerPhone" property="customerphone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    customerId, customerName, lastConsumption, consumption, customerPhone
  </sql>
  <select id="selectByPrimaryKey" resultMap="CustomerInfo" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_customerinfo
    where customerId = #{customerid,jdbcType=VARCHAR}
  </select>
  <select id="selectAllCustomerInfo" resultMap="CustomerInfo" >
  	select 
    <include refid="Base_Column_List" />
    from tb_customerinfo
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_customerinfo
    where customerId = #{customerid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="CustomerInfo" >
    insert into tb_customerinfo (customerId, customerName, lastConsumption, 
      consumption, customerPhone)
    values (#{customerid,jdbcType=VARCHAR}, #{customername,jdbcType=VARCHAR}, #{lastconsumption,jdbcType=REAL}, 
      #{consumption,jdbcType=REAL}, #{customerphone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="CustomerInfo" >
    insert into tb_customerinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerid != null" >
        customerId,
      </if>
      <if test="customername != null" >
        customerName,
      </if>
      <if test="lastconsumption != null" >
        lastConsumption,
      </if>
      <if test="consumption != null" >
        consumption,
      </if>
      <if test="customerphone != null" >
        customerPhone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerid != null" >
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="customername != null" >
        #{customername,jdbcType=VARCHAR},
      </if>
      <if test="lastconsumption != null" >
        #{lastconsumption,jdbcType=REAL},
      </if>
      <if test="consumption != null" >
        #{consumption,jdbcType=REAL},
      </if>
      <if test="customerphone != null" >
        #{customerphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shangxin.bean.CustomerInfo" >
    update tb_customerinfo
    <set >
      <if test="customername != null" >
        customerName = #{customername,jdbcType=VARCHAR},
      </if>
      <if test="lastconsumption != null" >
        lastConsumption = #{lastconsumption,jdbcType=REAL},
      </if>
      <if test="consumption != null" >
        consumption = #{consumption,jdbcType=REAL},
      </if>
      <if test="customerphone != null" >
        customerPhone = #{customerphone,jdbcType=VARCHAR},
      </if>
    </set>
    where customerId = #{customerid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shangxin.bean.CustomerInfo" >
    update tb_customerinfo
    set customerName = #{customername,jdbcType=VARCHAR},
      lastConsumption = #{lastconsumption,jdbcType=REAL},
      consumption = #{consumption,jdbcType=REAL},
      customerPhone = #{customerphone,jdbcType=VARCHAR}
    where customerId = #{customerid,jdbcType=VARCHAR}
  </update>
</mapper>